<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Code:</b>
  <%= @country.code %>
</p>

<p>
  <b>Status:</b>
  <%= visited_status_for(@country) %>
</p>

<p>
  <b>Currencies:</b>
  <ul>
    <% @country.currencies.each do |currency| %>
      <li><%= link_to currency.name, currency %></li>
    <% end %>
  </ul>
</p>

<% unless @country.visited_by_user?(current_user) %>
  <%= link_to 'Visit', my_visits_path(country_ids: [@country.id]), method: :post %> |
<% end %>
<%= link_to 'Back', countries_path %>
